.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal-content {
        padding: 20px;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #282c34;
        border-radius: 7px;
        border: 1px solid white;    
}